*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline-style: none;
}
body{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    background-color: #f0f2f560;
}
.content{
    width: 1200px;
    margin: 0 auto;
    
}
.nav{
    
    display: flex;
    justify-content: space-between;
}
nav{
    min-width: 1200px;
    height: 64px;
    background-color: #00182e;
}

.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo img{
    width: 44px;
    height: 44px;
}
.nav-logo span{
    margin-left: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
}
.nav-left{
    width: 484px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left a{
    display: inline-block;
    height: 64px;
    line-height: 64px;
}
.nav-left a p:hover,
.nav-left a p span{
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
}
.nav-left a p{
    font-weight: 400;
    font-size: 14px;
    color: rgba(247, 247, 247, 0.686274509803922);
}
.nav-right{
    display: flex;
    align-items: center;
}

.nav-left a:nth-child(3){
    position: relative;
    overflow: hidden;
}
.bell img{
    width: 16px;
    height: 16px;
}
.wel{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.wel img{
    width: 31px;
    height: 31px;
    margin-left: 20px;
}
header{
    width: 100%;
    height: 388px;
    background: #000000;
}
.head{
    height: 388px;
    background-image: url(../index-img/课程主页面图.jpg);
    background-size: 100% 100%;
    color: #facb05;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head div img{
    width: 67px;
    height: 67px;
    margin-top: 20px;
}
main{
    width: 100%;
    height: 100%;
}
.purchase{
    width: 1152px;
    height: 190px;
    background: #ffffff;
    margin-top: -80px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}
.pur-left{
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.pur-left p span img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.pur-left p:first-child span:first-child{
    color: #666666;
    display: inline-block;
    width: 80px;
    height: 25px;
    border-right: 1px solid rgba(204, 204, 204, 1);
    margin: 0;
}
.pur-left p span{
    color: #999999;
    margin: 0 15px;
    line-height: 25px;
    font-size: 13px;
}
.pur-week {
    color: #999999;
    line-height: 25px;
    font-size: 14px;
}
.pur-week span{
    margin-left: 20px;
}
.time p{
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    line-height: 20px;
    margin-top: 5px;
}
.pur-top img:first-child{
    width: 24px;
    height: 24px;
}
.pur-right{
    padding: 5px 10px;
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pur-top{
    display: flex;
    justify-content: flex-end;
}
.pur-top img:last-child{
    width: 21px;
    height: 21px;
    margin-left: 16px;
}
.pur-bet{
    display: flex;
    justify-content: flex-end;
}
.pur-bet p{
    color: #666666;
    font-size: 16px;
    margin-top: 10px;
}
.pur-bet a input{
    width: 116px;
    height: 42px;
    outline-style: none;
}
.pur-bet p span:nth-child(2){
    color: #3366ff;
    margin-right: 30px;
}
.pur-bet a input{
    color: #facb05;
    background: #ffffff;
    border: 1px solid #facb05;
    font-weight: 700;
    font-size: 16px;
    color: #FACB05;
    line-height: 24px;
    border-radius: 4px;
    outline-style: none;
}

.pur-bom {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    line-height: 47px;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    
}
.total{
    width: 1152px;
    height: 3054px;
    background: #ffffff;
    margin: 20px 0 130px;
    padding: 1px;
}
.introduce{
    height: 333px;
    display: flex;
    padding:0 40px;
    box-sizing: border-box;
    margin: 40px 0;
}
.intro-left{
    width: 55%;
}
.intro-left p:nth-child(1){
    font-weight: 400;
    font-size: 28px;
}
.intro-left p:nth-child(2){
    font-weight: 400;
    line-height: 36px;
    font-size: 18px;
    margin-top: 30px;
}
.intro-right{
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.teach{
    height: 527px;
    background: #f8ed00;
    padding: 35px 42px;
    box-sizing: border-box;
    
}
.teach p:nth-child(1){
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}
.teach div{
    display: flex;
    justify-content: center;
}
.teach div img{
    width: 143px;
    height: 143px;
    margin-top: 50px;
}
.teach p:nth-child(3){
    margin-top: 25px;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}
.teach p:nth-child(4){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 25px 0;
}
.teach p:last-child{
    margin-top: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-indent: 40px;
}
.text{
    height: auto;
}
.list{
    
    width: 768px;
    height: auto;
    margin: 30px auto;
    text-align: center;
}
.list p:nth-child(1){
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 30px;
    color: #333333;
}
.list div{
    height: 80px;
    display: flex;
    
}
.list div p:nth-child(1){
    font-weight: 400;
    font-size: 72px;
    color: #CCCCCC;
}
.list div p:nth-child(2){
    width: 650px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}
.list div p:nth-child(2) img{
    width: 33px;
    height: 33px;
}
.list div p:nth-child(2) span{
    font-weight: 400;
    font-size: 28px;
    color: rgba(51, 51, 51, 0.8);
}
.list p:nth-child(4){
    text-align: left;
    margin-left: 80px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.list p img,
.list p:nth-child(5) img,
.list p:nth-child(4) img{
    width: 21px;
    height: 32px;
}
.list p:nth-child(5) span,
.list p:nth-child(4) span{
    font-weight: 400;
    font-size: 28px;
    color: rgba(51, 51, 51, 0.8);
    
}
.list p:nth-child(5){
    text-align: left;
    margin-left: 80px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.list hr{
    margin: 20px 0;
}
.list p:nth-child(14),
.list p:nth-child(15),
.list p:nth-child(16){
    text-align: left;
    margin-left: 10px;
}
.list p:nth-child(14){
    margin-top: 20px;
}
.list p:nth-child(16){
    margin-bottom: 20px;
}
.target{
    width: 768px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    color: #333333;
}
.standard p:nth-child(1),
.target p:nth-child(1){
    margin: 20px 0;
    font-weight: 400;
    font-size: 28px;
}
.standard p:nth-child(2),
.target p:nth-child(2){
    text-align: left;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 10px;
}
.standard{
    color: #333333;
    width: 768px;
    height: auto;
    margin: 60px auto 0;
    text-align: center;
}
.evaluate{
    width: 1029px;
    height: auto;
    margin: 20px auto 60px;
}
.evaluate p{
    padding: 20px 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 28px;
    color: #333333;
}
.no img{
    width: 219px;
    height: 199px;
}
.no{
    display: flex;
    justify-content: center;
}
footer{
    min-width: 1200px;
    width: 100%;
    height: 285px;
    background-color: #000000;
}
.foot{
    height: 285px;
}
.foot-box{
    
    display: flex;
    justify-content: space-between;
}
.foot-left{
    height: 154px;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    margin-top: 30px;
}
.foot-left div a{
    color: #ffffff;
    font-size: 20px;
}
.foot-left div{
    margin-right: 150px;
}
.foot-left div:nth-child(2){
    font-size: 16px;
}
.foot-left div span{
    display: block;
    margin: 20px 0;
}
.foot-right{
    margin-top: 30px;
    color: #ffffff;
    display: flex;flex-direction: column;
    text-align: center;
}
.foot-right span{
    color: rgba(255, 255, 255, 0.819607843137255);
    font-size: 20px;
    font-weight: 700;
}
.foot-right img{
    margin-top: 25px;
    width: 147px;
    height: 146px;
}
.foot p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
}