*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline-style: none;
}
body{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    background-color: #f0f2f560;
}
.content{
    width: 1200px;
    margin: 0 auto;
    
}
.nav{
    
    display: flex;
    justify-content: space-between;
}
nav{
    min-width: 1200px;
    height: 64px;
    background-color: #00182e;
}

.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo img{
    width: 44px;
    height: 44px;
}
.nav-logo span{
    margin-left: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
}
.nav-left{
    width: 484px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left a{
    display: inline-block;
    height: 64px;
    line-height: 64px;
}
.nav-left a p span{
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
}
.nav-left a p{
    font-weight: 400;
    font-size: 14px;
    color: rgba(247, 247, 247, 0.686274509803922);
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-search input{
    width: 193px;
    height: 32px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 1px solid #cccccc;
    color: #cccccc;
    padding: 5px 10px;
    box-sizing: border-box;
}
.nav-search{
    width: 193px;
    height: 32px;
    position: relative;
    margin-right: 20px;
}
.icon-sousuo{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #cccccc;
}

.nav-left a:nth-child(3){
    position: relative;
    overflow: hidden;
}
.nav-left a p:hover{
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
}
.focus{
    top: 64px;
    left: 450px;
    position: absolute;
    box-sizing: border-box;
    width: 730px;
    height: 0px;
    background-color: rgba(11, 24, 34, 1);
    display: flex;
    overflow: hidden;
    transition: all 2s;
}
.nav-left a:nth-child(3):hover +.focus{
    height: 282px;
    padding: 20px;
}
.focus-left{
    width: 105px;
    height: 141px;
    border-right: 1px solid rgba(255, 255, 255, 0.447058823529412);
}
.focus-left a{
    display: block;
    width: 105px;
    height: 47px;font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 47px;
    color: rgba(255, 255, 255, 0.447058823529412);
}
.focus-left a:first-child{
    color: #FFFFFF;
    border-right: 1px solid rgba(250, 203, 5, 1);
}
.focus-left a span img{
    width: 14px;
    height: 14px;
}
.focus-left a span:last-child{
    margin-left: 10px;
}
.focus-right{
    width: 600px;
    color: rgba(255, 255, 255, 0.447058823529412);
    padding: 5px 30px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.focus-right dl dt{
    width: 160px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    margin-bottom: 20px;
}

.focus-right dl dd{
    width: 160px;
    height: 32px;
    padding: 5px 16px;
    box-sizing: border-box;
    line-height: 22px;
    font-size: 14px;
    background-color: #ffffff0f;
    border-radius: 4px;
    margin-bottom: 15px;
}
.focus-right dl:nth-child(2) dd:nth-child(2){
    background-color: #facb05;
    color: #ffffff;
}
.bell img{
    width: 16px;
    height: 16px;
}
.wel{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.wel img{
    width: 31px;
    height: 31px;
    margin-left: 20px;
}
main{
    width: 100%;
    height: auto;
}
.trans{
    font-weight: 400;
    font-size: 28px;
    color: #333333;
    margin: 20px 0;
}
.imme{
    width: 1152px;
    height: 439px;
    background: #ffffff;
    padding: 1px;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.pay{
    font-weight: 700;
    font-size: 36px;
    color: #333333;
    margin: 80px auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pay img{
    width: 42px;
    height: 42px;
    margin-left: 30px;
}
.diately{
    font-weight: 700;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.diately img{
    width: 33px;
    height: 33px;
    margin-left: 15px;
}
footer{
    min-width: 1200px;
    width: 100%;
    height: 285px;
    background-color: #000000;
}
.foot{
    height: 285px;
}
.foot-box{
    
    display: flex;
    justify-content: space-between;
}
.foot-left{
    height: 154px;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    margin-top: 30px;
}
.foot-left div a{
    color: #ffffff;
    font-size: 20px;
}
.foot-left div{
    margin-right: 150px;
}
.foot-left div:nth-child(2){
    font-size: 16px;
}
.foot-left div span{
    display: block;
    margin: 20px 0;
}
.foot-right{
    margin-top: 30px;
    color: #ffffff;
    display: flex;flex-direction: column;
    text-align: center;
}
.foot-right span{
    color: rgba(255, 255, 255, 0.819607843137255);
    font-size: 20px;
    font-weight: 700;
}
.foot-right img{
    margin-top: 25px;
    width: 147px;
    height: 146px;
}
.foot p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
}