*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline-style: none;
}
body{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    background-color: #f0f2f560;
}
.content{
    width: 1200px;
    margin: 0 auto;
    
}
.nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    min-width: 1200px;
    height: 64px;
    background-color: #00182e;
    display: flex;
    align-items: center;
}

.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo img{
    width: 44px;
    height: 44px;
}
.nav-logo span{
    margin-left: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
}
.nav-left{
    width: 484px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left a{
    display: inline-block;
    height: 64px;
    line-height: 64px;
}
.nav-left a p span{
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
}
.nav-left a p{
    font-weight: 400;
    font-size: 14px;
    color: rgba(247, 247, 247, 0.686274509803922);
}
.nav-right{
    display: flex;
    align-items: center;
}

.nav-left a:nth-child(3){
    position: relative;
    overflow: hidden;
}
.bell img{
    width: 16px;
    height: 16px;
}
.wel{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.wel img{
    width: 31px;
    height: 31px;
    margin-left: 20px;
}
header{
    width: 100%;
    height: 256px;
    background: linear-gradient(to right,#021a81, #01157a);
}
.head{
    height: 256px;
    background-image: url(../index-img/我的课程图.png);
    background-size: 100% 100%;
}
.head-box{
    width: 100%;
    height: 256px;
    background-image: url(../index-img/课程背景.png);
    background-size: 150% 110%;
    background-position:center;
}
.hed-box{
    height: 256px;
    background-image: url(../index-img/课程背景.png);
    background-size: 150% 110%;
    background-position:center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-left{
    display: flex;
    align-items: center;
}
.head-left a{
    display: block;
    width: 163px;
    height: 163px;
    margin: 0px 30px 0 0;
}
.head-left div{
    color: #ffffff;
}
.head-left div p:first-child{
    font-weight: 700;
    font-size: 28px;
    margin: 20px 0 20px;
}
.head-left div p:last-child{
    font-weight: 400;
    font-size: 18px;
}
.head-right{
    width: 602px;
    height: 110px;
    margin-right: -80px;
    display: flex;
}
.head-one{
    width: 140px;
    height: 110px;
}
.head-two{
    width: 152px;
    height: 110px;
}
.head-thr{
    width: 168px;
    height: 110px;
}
.head-for{
    width: 142px;
    height: 110px;
}
.head-one div:first-child{
    width: 140px;
    height: 50px;
    text-align: center;
    line-height: 65px;
    font-size: 14px;
    color: #ffffff;
}
.head-one div:last-child{
    width: 140px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-left: -10px;
}
.head-two div:first-child{
    width: 152px;
    height: 50px;
    text-align: center;
    line-height: 65px;
    font-size: 14px;
    color: #ffffff;
}
.head-two div:last-child{
    width: 152px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-left: -20px;
}
.head-thr div:first-child{
    width: 168px;
    height: 50px;
    text-align: center;
    line-height: 65px;
    font-size: 14px;
    color: #ffffff;
}
.head-thr div:last-child{
    width: 168px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-left: 14px;
}
.head-for div:first-child{
    width: 142px;
    height: 50px;
    text-align: center;
    line-height: 65px;
    font-size: 14px;
    color: #ffffff;
}
.head-for div:last-child{
    width: 142px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-left: 15px;
}
main{
    width: 100%;
    height: 100%;
}
.sub{
    width: 1152px;
    height: 700px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.sub-left{
    width: 244px;
    height: 256px;
}
.sub-left ul li{
    width: 252px;
    height: 64px;
    background-color: #FFFFFF;
    display: flex;
}

.sub-left ul li a{
    display: block;
    width: 244px;
    height: 64px;
    font-size: 18px;
    text-align: center;
    line-height: 64px;
    color: #333333;
}
.sub-left ul li a:hover{
    color: #FACB05;
}
.sub-left ul li a span{
    color: #FACB05;
}
.tid-right{
    width: 835px;
    height: 700px;
}
.tid-one{
    width: 835px;
    height: 76px;
    background-color: #fff;
    padding:0 40px;
    box-sizing: border-box;
    font-size: 18px;
    color: #333333;
    line-height: 76px;
}
.tid-bom{
    width: 835px;
    height: auto;
    padding: 20px 40px;
    box-sizing: border-box;
    background: #ffffff;
    margin-top: 20px;
}
.tid-two{
    width: 755px;
    height: 40px;
    border-bottom: 1px solid #facb05;
    display: flex;
}
.tid-two div{
    width: 89px;
    height: 40px;
    border: 1px solid #facb05;
    margin-right: 2px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: none;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    background-color: #ffffff;
}
.tid-two div a{
    color: #333333;
    display: block;
    width: 89px;
    height: 40px;
}
.tid-two div a:hover,
.tid-two div:nth-child(2){
    background-color: #facb05;
    color: #ffffff;
    
}
.tid-thr{
    width: 755px;
    height: 400px;
    margin-top: 40px;
}
.tid-thr div{
    display: flex;
    align-items: start;
}
.tid-thr div span:nth-child(2){
    font-size: 16px;
    color: #666666;
    margin: 0 30px 0 20px;
}
.tid-thr div span:nth-child(3){
    margin-right: 5px;
}
.tid-thr div span:nth-child(4){
    margin-top: 2px;
}
.tid-thr div span{
    font-size: 14px;
    color: #cccccc;
}
.tid-thr div:nth-child(2){
    flex-direction: column;
    margin: 10px 0 20px;
}
.tid-thr div p{
    margin-left: 65px;
    margin-bottom: 5px;
    color: #666666;
}
footer{
    min-width: 1200px;
    width: 100%;
    height: 285px;
    background-color: #000000;
}
.foot{
    height: 285px;
}
.foot-box{
    
    display: flex;
    justify-content: space-between;
}
.foot-left{
    height: 154px;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    margin-top: 30px;
}
.foot-left div a{
    color: #ffffff;
    font-size: 20px;
}
.foot-left div{
    margin-right: 150px;
}
.foot-left div:nth-child(2){
    font-size: 16px;
}
.foot-left div span{
    display: block;
    margin: 20px 0;
}
.foot-right{
    margin-top: 30px;
    color: #ffffff;
    display: flex;flex-direction: column;
    text-align: center;
}
.foot-right span{
    color: rgba(255, 255, 255, 0.819607843137255);
    font-size: 20px;
    font-weight: 700;
}
.foot-right img{
    margin-top: 25px;
    width: 147px;
    height: 146px;
}
.foot p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
}