<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课程集中营</title>
    <link rel="stylesheet" href="../icons/iconfont.css">
    <link rel="stylesheet" href="../css/coursecamp.css">
</head>

<body>
    <nav>
        <div class="content nav">
            <div class="nav-left">
                <div class="nav-logo">
                    <img src="../index-img/首页logoABC.svg" alt="">
                    <span>在线学习平台</span>
                </div>
                <a href="./index.html">
                    <p>
                        首页
                    </p>
                </a>
                <a href="">
                    <p>
                        <span>课程集中营</span>
                    </p>
                </a>
                <div class="focus">
                    <div class="focus-left">
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>课程分类</span>
                        </a>
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>院校分类</span>
                        </a>
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>学科分类</span>
                        </a>
                    </div>
                    <div class="focus-right">
                        <dl>
                            <dt>设计</dt>
                            <dd>插画设计</dd>
                            <dd>网页设计</dd>
                            <dd>工业设计</dd>
                            <dd>UI/UX</dd>
                        </dl>
                        <dl>
                            <dt>电脑办公</dt>
                            <dd>excle</dd>
                            <dd>PPT</dd>
                            <dd>office</dd>
                        </dl>
                        <dl>
                            <dt>影视动画</dt>
                            <dd>Flash</dd>
                            <dd>视频剪辑</dd>
                            <dd>3D渲染</dd>
                        </dl>
                    </div>
                </div>
                <a href="../views/recruit .html">
                    <p>
                        最新招聘
                    </p>
                </a>

            </div>
            <div class="nav-right">
                <div class="nav-search">
                    <input type="text" placeholder="请输入">
                    <span class="iconfont icon-sousuo"></span>
                </div>
                <div class="nav-tea">
                    <a href="./loginte.html">我是老师</a>
                </div>
                <div class="nav-tea">
                    <a href="./login.html">我是学生</a>
                </div>
            </div>
        </div>
    </nav>
    <header>
        <div class="content head">
            <div class="sort">
                <div class="sort-top">
                    <div>课程分类:</div>
                    <div>全部</div>
                    <a href="">课程</a>
                    <a href="">直播</a>
                </div>
                <div class="sort-bet">
                    <div>院校分类:</div>
                    <div>全部</div>
                    <a href="">本校</a>
                    <a href="">DD大学</a>
                    <a href="">XX大学</a>
                    <a href="">WW大学</a>
                    <a href="">RR大学</a>
                </div>
                <div class="sort-bom">
                    <div>学科分类:</div>
                    <div>全部</div>
                    <a href="">物理工程</a>
                    <a href="">工业设计</a>
                    <a href="">平面设计</a>
                    <a href="">机械设计</a>
                    <a href="">财务管理</a>
                    <a href="">工商管理</a>
                    <a href="">计算机技术</a>
                </div>
                <div class="sort-bot">
                    <div></div>
                    <div></div>
                    <a href="">物理工程</a>
                    <a href="">工业设计</a>
                    <a href="">平面设计</a>
                    <a href="">机械设计</a>
                    <a href="">财务管理</a>
                    <a href="">工商管理</a>
                    <a href="">计算机技术</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="content all">
            <div class="whole">
                <a href="">全部</a>
                <a href="">即将开始</a>
                <a href="">进行中</a>
                <a href="">已结束</a>
            </div>
            <div class="courses">
                <ul>
                    <li>
                        <a href="../views/home.html">
                            <div class="courses-top">
                                <img src="../index-img/课程集中营图片.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span> <img src="../index-img/首页推荐人民币.svg" alt=""> 230</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>King</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/gratis.html">
                            <div class="courses-top">
                                <img src="../index-img/课程集中营图片.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span>免费</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>King</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/home.html">
                            <div class="courses-top">
                                <img src="../index-img/课程集中营图片.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span> <img src="../index-img/首页推荐人民币.svg" alt=""> 230</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>King</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/home.html">
                            <div class="courses-top">
                                <img src="../index-img/课程集中营图片.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span> <img src="../index-img/首页推荐人民币.svg" alt=""> 230</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>King</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/home.html">
                            <div class="courses-top">
                                <img src="../index-img/课程集中营图片.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span> <img src="../index-img/首页推荐人民币.svg" alt=""> 230</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>King</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/gratis.html">
                            <div class="courses-top">
                                <img src="../index-img/课程集中营图片.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span>免费</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>King</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/home.html">
                            <div class="courses-top">
                                <img src="../index-img/课程集中营图片.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span> <img src="../index-img/首页推荐人民币.svg" alt=""> 230</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>King</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/home.html">
                            <div class="courses-top">
                                <img src="../index-img/课程集中营图片.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span> <img src="../index-img/首页推荐人民币.svg" alt=""> 230</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>King</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="load">
                <a href="">正在加载……</a>
            </div>
        </div>
    </main>
    <footer>
        <div class="content foot">
            <div class=" foot-box">
                <div class="foot-left">
                    <div>
                        <a href="../views/about.html"><span>关于我们</span></a>
                        <span>资格证书</span>
                        <span>联系我们</span>
                        <span>帮助</span>
                    </div>
                    <div>
                        <span>公司地址</span>
                        <span>联系电话</span>
                    </div>
                </div>
                <div class="foot-right">
                    <span>在线学习平台</span>
                    <img src="../index-img/首页二维码.png" alt="">
                </div>
            </div>
            <p>某某公司版权所有</p>
        </div>
    </footer>
</body>

</html>