<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>专家主页面</title>
    <link rel="stylesheet" href="../css/expert.css">
</head>
<body>
    <nav>
        <div class="content nav">
            <div class="nav-left">
                <div class="nav-logo">
                    <img src="../index-img/首页logoABC.svg" alt="">
                    <span>在线学习平台</span>
                </div>
                <a href="../views/index.html">
                    <p>
                        <span>首页</span>
                    </p>
                </a>
                <a href="./coursecamp.html">
                    <p>
                        课程集中营
                    </p>
                    
                </a>
                <div class="focus">
                    <div class="focus-left">
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>课程分类</span>
                        </a>
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>院校分类</span>
                        </a>
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>学科分类</span>
                        </a>
                    </div>
                    <div class="focus-right">
                        <dl>
                            <dt>设计</dt>
                            <dd>插画设计</dd>
                            <dd>网页设计</dd>
                            <dd>工业设计</dd>
                            <dd>UI/UX</dd>
                        </dl>
                        <dl>
                            <dt>电脑办公</dt>
                            <dd>excle</dd>
                            <dd>PPT</dd>
                            <dd>office</dd>
                        </dl>
                        <dl>
                            <dt>影视动画</dt>
                            <dd>Flash</dd>
                            <dd>视频剪辑</dd>
                            <dd>3D渲染</dd>
                        </dl>
                    </div>
                </div>
                <a href="../views/recruit .html">
                    <p>
                        最新招聘
                    </p>
                </a>

            </div>
            <div class="nav-right">
                <div class="nav-search">
                    <input type="text" placeholder="请输入">
                    <span class="iconfont icon-sousuo"></span>
                </div>
                <div class="nav-tea">
                    <a href="./loginte.html">我是老师</a>
                </div>
                <div class="nav-tea">
                    <a href="./login.html">我是学生</a>
                </div>
            </div>
        </div>
    </nav>
    <header>
        <div class="content head"></div>
    </header>
    <main>
        <div class="content all">
            <div class="brief-left"> 
                <img src="../index-img/brief头像.png" alt="">
                <p>米莱</p>
                <p>某大学教授</p>
                <div class="score">
                    <p>
                        <span>1</span>
                        <span>粉丝</span>
                        
                    </p>
                    
                    <p>
                        <span>3</span>
                        <span>课程</span>
                    </p>
                   
                    <p>
                        <span>5分</span>
                        <span>评分</span>
                    </p>
                </div>
                <div class="follow">
                    <input type="button" value="关注">
                </div>
                <p>个人简介</p>
                <p>某大学什么专业教授，从业20年，曾获得什么嘉奖，做出什么贡献</p>
            </div>
            <div class="brief-right">
                <div class="brf-top">
                    <input type="button" value="全部&nbsp;&nbsp;3">
                    <input type="button" value="全部&nbsp;&nbsp;2">
                    <input type="button" value="全部&nbsp;&nbsp;1">
                </div>
                <ul class="brf-bom">
                    <li>
                        <a href="../views/home.html">
                            <div class="courses-top">
                                <img src="../index-img/专家页面1.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span>限免</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>清华大学教授</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/home.html">
                            <div class="courses-top">
                                <img src="../index-img/专家页面2.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span>限免</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>清华大学教授</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/home.html">
                            <div class="courses-top">
                                <img src="../index-img/专家页面3.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span>限免</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>清华大学教授</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <div class="content foot">
            <div class=" foot-box">
                <div class="foot-left">
                    <div>
                        <a href="../views/about.html"><span>关于我们</span></a>
                        <span>资格证书</span>
                        <span>联系我们</span>
                        <span>帮助</span>
                    </div>
                    <div>
                        <span>公司地址</span>
                        <span>联系电话</span>
                    </div>
                </div>
                <div class="foot-right">
                    <span>在线学习平台</span>
                    <img src="../index-img/首页二维码.png" alt="">
                </div>
            </div>
            <p>某某公司版权所有</p>
        </div>
    </footer>
</body>
</html>