<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>免费试学</title>
    <link rel="stylesheet" href="../css/free.css">
</head>
<body>
    <nav>
        <div class="content nav">
            <div class="nav-left">
                <a class="nav_left" href="../views/home.html">
                    <img src="../index-img/向左.svg" alt="">
                    返回课程
                </a>
                <div class="nav_bet">
                    平面设计概述
                </div>
                <div class="nav_right">
                    <img src="../index-img/向右.svg" alt="">
                </div>
            </div>
            <div class="nav-right">
                目录
            </div>
        </div>
    </nav>
    <main>
        <div class="content all">
            <div class="main-left">
                <div class="main-bom">
                    <div class="play-left">
                        <div class="plt-left">
                            <img src="../index-img/快退.svg" alt="">
                            <img src="../index-img/暂停.svg" alt="">
                            <img src="../index-img/快进.svg" alt="">
                        </div>
                        <div class="plt-right">
                            <span>00:30</span>
                            &nbsp;/&nbsp;
                            <span>10:34</span>
                        </div>
                    </div>
                    <div class="play-right">
                        <div class="speed-left">
                            <span>字幕</span>
                            <span>高清</span>
                            <span>1.00x</span>
                        </div>
                        <div class="speed-right">
                            <img src="../index-img/放大.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <ul>
                <li class="headline"><a href="">
                    <div>
                        <span>1</span>
                        <span>第1章&#x3000;</span>
                        <span>平面设计定义</span>
                    </div>
                    <div>
                        <img src="../index-img/向下.svg" alt="">
                    </div>
                </a></li>
                <li class="subhead"><a href="">
                    <p>
                        <span>第1节&#x3000;</span>
                        <span>定义</span>
                    </p>
                    <p>
                        10分34秒
                    </p>
                </a></li>
                <li class="subhead bet"><a href="">
                    <p>
                        <span>第2节&#x3000;</span>
                        <span>概述</span>
                    </p>
                    <p>
                        <img src="../index-img/正在播放.svg" alt="">
                        10分34秒
                    </p>
                </a></li>
                <li class="subhead"><a href="">
                    <p>
                        <span>第1节&#x3000;</span>
                        <span>定义</span>
                    </p>
                    <p>
                        
                        10分34秒
                    </p>
                </a></li>
                <li class="headline"><a href="">
                    <div>
                        <span>2</span>
                        <span>第2章&#x3000;</span>
                        <span>平面设计定义</span>
                    </div>
                    <div>
                        <img src="../index-img/向下.svg" alt="">
                    </div>
                </a></li>
                <li class="headline"><a href="">
                    <div>
                        <span>3</span>
                        <span>第3章&#x3000;</span>
                        <span>平面设计定义</span>
                    </div>
                    <div>
                        <img src="../index-img/向下.svg" alt="">
                    </div>
                </a></li>
                <li class="headline"><a href="">
                    <div>
                        <span>4</span>
                        <span>第4章&#x3000;</span>
                        <span>平面设计定义</span>
                    </div>
                    <div>
                        <img src="../index-img/向下.svg" alt="">
                    </div>
                </a></li>
                <li class="headline"><a href="">
                    <div>
                        <span>5</span>
                        <span>第5章&#x3000;</span>
                        <span>平面设计定义</span>
                    </div>
                    <div>
                        <img src="../index-img/向下.svg" alt="">
                    </div>
                </a></li>
                <li class="title"><a href="">
                    <span>查看全部章节</span>
                    <img src="../index-img/向下.svg" alt="">
                </a></li>
            </ul>
        </div>
    </main>
</body>
</html>