<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课程主页面（要花钱）</title>
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <nav>
        <div class="content nav">
            <div class="nav-left">
                <div class="nav-logo">
                    <img src="../index-img/首页logoABC.svg" alt="">
                    <span>在线学习平台</span>
                </div>
                <a href="./index.html">
                    <p>
                        <span>首页</span>
                    </p>
                </a>
                <a href="./coursecamp.html">
                    <p>
                        课程集中营
                    </p>
                    
                </a>
                <div class="focus">
                    <div class="focus-left">
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>课程分类</span>
                        </a>
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>院校分类</span>
                        </a>
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>学科分类</span>
                        </a>
                    </div>
                    <div class="focus-right">
                        <dl>
                            <dt>设计</dt>
                            <dd>插画设计</dd>
                            <dd>网页设计</dd>
                            <dd>工业设计</dd>
                            <dd>UI/UX</dd>
                        </dl>
                        <dl>
                            <dt>电脑办公</dt>
                            <dd>excle</dd>
                            <dd>PPT</dd>
                            <dd>office</dd>
                        </dl>
                        <dl>
                            <dt>影视动画</dt>
                            <dd>Flash</dd>
                            <dd>视频剪辑</dd>
                            <dd>3D渲染</dd>
                        </dl>
                    </div>
                </div>
                <a href="../views/recruit .html">
                    <p>
                        最新招聘
                    </p>
                </a>

            </div>
            <div class="nav-right">
                <div class="nav-search">
                    <input type="text" placeholder="请输入">
                    <span class="iconfont icon-sousuo"></span>
                </div>
                <div class="nav-tea">
                    <a href="./loginte.html">我是老师</a>
                </div>
                <div class="nav-tea">
                    <a href="./login.html">我是学生</a>
                </div>
            </div>
        </div>
    </nav>
    <header>
        <div class="content head">
            <p>平面设计简述</p>
            <div><img src="../index-img/content-head.png" alt=""></div>
        </div>
    </header>
    <main>
        <div class="content all">
            <div class="purchase">
                <div class="pur-left">
                    <p>
                        <span>共111节</span>
                        <span><img src="../index-img/首页推荐眼睛.svg" alt="">5645</span>
                        <span><img src="../index-img/首页推荐赞.svg" alt="">456</span>
                    </p>
                    <p>
                        <img src="../index-img/首页推荐人民币.svg" alt="">
                        230
                    </p>
                    <div class="time">
                        <p>开课时间：2020.05.12——2020.07.12</p>
                        <p>选课时间：2020.04.12——2020.05.08</p>
                    </div>
                </div>
                <div class="pur-right">
                    <div class="pur-top">
                        <img src="../index-img/star.svg" alt="">
                        <img src="../index-img/link.svg" alt="">
                    </div>
                    <div class="pur-bet">
                        <a href="../views/free.html">
                            <input type="button" value="免费试学">
                        </a>
                        <a href="../views/buynow.html">
                            <input type="button" value="立即购买">
                        </a>

                        <img src="../index-img/shop-cart.svg" alt="">
                    </div>
                    <div class="pur-bom">
                        <p>学科类型：设计学</p>
                    </div>
                </div>
            </div>
            <div class="total">
                <div class="introduce">
                    <div class="intro-left">
                        <p>课程介绍</p>
                        <p>平面设计（graphic
                            design），也称为视觉传达设计，是以“视觉”作为沟通和表现的方式，透过多种方式来创造和结合符号、图片和文字，借此作出用来传达想法或讯息的视觉表现。平面设计师可能会利用字体排印、视觉艺术、版面（page
                            layout）、电脑软件等方面的专业技巧，来达成创作计划的目的。</p>
                    </div>
                    <div class="intro-right">
                        <img src="../index-img/content图1.png" alt="">
                    </div>
                </div>
                <div class="teach">
                    <p>授课老师</p>
                    <div>
                        <a href="../views/expert.html"><img src="../index-img/content头像.png" alt=""></a></div>
                    <p>陈乾</p>
                    <p>
                        <span>某某大学</span>
                        <span>平面设计教授</span>
                    </p>
                    <hr>
                    <p>陈乾，中国著名平面设计师，深圳市平面设计协会常务理事、深圳市室内设计师协会的高级顾问，同时是陈绍华设计有限公司的创始人。是当代中国最有个性、最有成就的设计大师之一。</p>
                </div>
                <div class="text">
                    <div class="list">
                        <p>章节目录</p>
                        <div>
                            <p>1</p>
                            <p>
                                <span>第1课&#x3000;平面设计定义</span>
                                <img src="../index-img/向下.svg" alt="">
                            </p>
                        </div>
                        <hr>
                        <p>
                            <img src="../index-img/点.svg" alt="">
                            <span>&#x3000;定义</span>
                        </p>
                        <p>
                            <img src="../index-img/点.svg" alt="">
                            <span>&#x3000;概述</span>
                        </p>
                        <div>
                            <p>2</p>
                            <p>
                                <span>第2课&#x3000;色彩的使用</span>
                                <img src="../index-img/向下.svg" alt="">
                            </p>
                        </div>
                        <hr>
                        <div>
                            <p>3</p>
                            <p>
                                <span>第3课&#x3000;色彩的使用</span>
                                <img src="../index-img/向下.svg" alt="">
                            </p>
                        </div>
                        <hr>
                        <div>
                            <p>4</p>
                            <p>
                                <span>第4课&#x3000;色彩的使用</span>
                                <img src="../index-img/向下.svg" alt="">
                            </p>
                        </div>
                        <hr>
                        <div>
                            <p>5</p>
                            <p>
                                <span>第5课&#x3000;色彩的使用</span>
                                <img src="../index-img/向下.svg" alt="">
                            </p>
                        </div>
                        <hr>
                        <p>
                            <img src="../index-img/点.svg" alt="">
                        </p>
                        <p>
                            <img src="../index-img/点.svg" alt="">
                        </p>
                        <p>
                            <img src="../index-img/点.svg" alt="">
                        </p>
                        <div>
                            <p>111</p>
                            <p>
                                <span>第111课&#x3000;色彩的使用</span>
                                <img src="../index-img/向下.svg" alt="">
                            </p>
                        </div>
                        <hr>
                    </div>
                    <div class="target">
                        <p>学习目标</p>
                        <p>通过本课程的学习，让学习者掌握货币时间价值的概念、原理和计算方法，能够运用财务计算器处理个人日常的投资理财事宜，帮助学习者提升财商、拓展心灵、健全人格、追求幸福人生。</p>
                    </div>
                    <div class="standard">
                        <p>考核标准</p>
                        <p>
                            总分为100分<br>
                            [课件浏览]：30% <br>
                            [章节练习]：35% <br>
                            [期末在线测试]：30% <br>
                            [课内讨论（讨论区讨论）]：5%
                        </p>
                    </div>
                    <div class="standard">
                        <p>参考教材</p>
                        <p>
                            《平面设计解构》
                        </p>
                    </div>
                    <div class="evaluate">
                        <p>评价</p>
                        <hr>
                    </div>
                    <div class="no">
                        <img src="../index-img/no.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="content foot">
            <div class=" foot-box">
                <div class="foot-left">
                    <div>
                        <a href="../views/about.html"><span>关于我们</span></a>
                        <span>资格证书</span>
                        <span>联系我们</span>
                        <span>帮助</span>
                    </div>
                    <div>
                        <span>公司地址</span>
                        <span>联系电话</span>
                    </div>
                </div>
                <div class="foot-right">
                    <span>在线学习平台</span>
                    <img src="../index-img/首页二维码.png" alt="">
                </div>
            </div>
            <p>某某公司版权所有</p>
        </div>
    </footer>
</body>

</html>