<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="../icons/iconfont.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <nav>
        <div class="content nav">
            <div class="nav-left">
                <div class="nav-logo">
                    <img src="../index-img/首页logoABC.svg" alt="">
                    <span>在线学习平台</span>
                </div>
                <a href="#">
                    <p>
                        <span>首页</span>
                    </p>
                </a>
                <a href="./coursecamp.html">
                    <p>
                        课程集中营
                    </p>
                    
                </a>
                <div class="focus">
                    <div class="focus-left">
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>课程分类</span>
                        </a>
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>院校分类</span>
                        </a>
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>学科分类</span>
                        </a>
                    </div>
                    <div class="focus-right">
                        <dl>
                            <dt>设计</dt>
                            <dd>插画设计</dd>
                            <dd>网页设计</dd>
                            <dd>工业设计</dd>
                            <dd>UI/UX</dd>
                        </dl>
                        <dl>
                            <dt>电脑办公</dt>
                            <dd>excle</dd>
                            <dd>PPT</dd>
                            <dd>office</dd>
                        </dl>
                        <dl>
                            <dt>影视动画</dt>
                            <dd>Flash</dd>
                            <dd>视频剪辑</dd>
                            <dd>3D渲染</dd>
                        </dl>
                    </div>
                </div>
                <a href="../views/recruit .html">
                    <p>
                        最新招聘
                    </p>
                </a>

            </div>
            <div class="nav-right">
                <div class="nav-search">
                    <input type="text" placeholder="请输入">
                    <span class="iconfont icon-sousuo"></span>
                </div>
                <div class="nav-tea">
                    <a href="./loginte.html">我是老师</a>
                </div>
                <div class="nav-tea">
                    <a href="./login.html">我是学生</a>
                </div>
            </div>
        </div>
    </nav>
    <header>
        <div class="content">
            <div class="head-box">
                <span>XX大学教学网</span>
                <span>这是简介简介</span>
            </div>
        </div>
    </header>
    <main>
        <div class="content all">
            <div class="news">
                <img src="../index-img/首页新闻logo.svg" alt="">
                <span>新闻公告</span>
            </div>
            <div class="news-content">
                <div class="news-left">
                    <img src="../index-img/首页新闻图1.png" alt="">
                </div>
                <div class="news-right">
                    <div class="news-rig">
                        <div class="news-box">
                            <span>2020</span>
                            <span>05/13</span>
                        </div>
                        <p>2020年疫情防控须知:1、所有教职工、学生必须带口罩，勤洗手、注意卫生……</p>
                    </div>
                    <div class="news-rig">
                        <div class="news-box">
                            <span>2020</span>
                            <span>05/07</span>
                        </div>
                        <p>XX大学2020年开学时间通知：将在5月3号正式开学……</p>
                    </div>
                    <div class="news-rig">
                        <div class="news-box">
                            <span>2020</span>
                            <span>05/13</span>
                        </div>
                        <p>2020年疫情防控须知:1、所有教职工、学生必须带口罩，勤洗手、注意卫生……</p>
                    </div>
                    <div class="news-rig">
                        <div class="news-box">
                            <span>2020</span>
                            <span>05/13</span>
                        </div>
                        <p>XX大学2020年开学时间通知：将在5月3号正式开学……</p>
                    </div>
                    <div class="news-rig">
                        <div class="news-box">
                            <span>2020</span>
                            <span>05/13</span>
                        </div>
                        <p>2020年疫情防控须知:1、所有教职工、学生必须带口罩，勤洗手、注意卫生……</p>
                    </div>
                    <div class="news-rig">
                        <div class="news-box">
                            <span>2020</span>
                            <span>05/13</span>
                        </div>
                        <p>XX大学2020年开学时间通知：将在5月3号正式开学……</p>
                    </div>

                </div>
            </div>
            <div class="news">
                <img src="../index-img/首页推荐logo.svg" alt="">
                <span>推荐课程</span>
            </div>
            <div class="courses">
                <ul>
                    <li>
                        <a href="../views/gratis.html">
                            <div class="courses-top">
                                <img src="../index-img/首页推荐1-1.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span>免费</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>清华大学教授</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/gratis.html">
                            <div class="courses-top">
                                <img src="../index-img/首页推荐1-2.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span>免费</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>清华大学教授</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/gratis.html">
                            <div class="courses-top">
                                <img src="../index-img/首页推荐1-3.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span>免费</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>厦门大学教授</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/gratis.html">
                            <div class="courses-top">
                                <img src="../index-img/首页推荐1-4.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    
                                    <span>免费</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>厦门大学教授</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="courses-top">
                                <img src="../index-img/首页推荐2-1.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span>限免</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>清华大学教授</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/home.html">
                            <div class="courses-top">
                                <img src="../index-img/首页推荐2-2.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span> <img src="../index-img/首页推荐人民币.svg" alt=""> 230</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>清华大学教授</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/home.html">
                            <div class="courses-top">
                                <img src="../index-img/首页推荐2-3.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span> <img src="../index-img/首页推荐人民币.svg" alt=""> 230</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>北京大学教授</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../views/home.html">
                            <div class="courses-top">
                                <img src="../index-img/首页推荐2-4.png" alt="">
                            </div>

                            <div class="courses-bom">
                                <p>
                                    <span>建筑设计课程</span>
                                    <span> <img src="../index-img/首页推荐人民币.svg" alt=""> 230</span>
                                </p>
                                <div class="cour-bom">
                                    <p>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>北京大学教授</span>
                                        <span>设计</span>
                                    </p>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                    <p>
                                        <span>1小时前</span>

                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="choice">
                <div class="choice-box">
                    <span>你做的每一个选择，都是人生的一大步</span>
                </div>
            </div>
            <div class="news">
                <img src="../index-img/首页直播logo.svg" alt="">
                <span>直播课程</span>
            </div>
            <div class="live">
                <div class="live-top">
                    <a href="../views/home.html">
                        <img src="../index-img/首页直播1-1.png" alt="">
                        <div class="live-right">
                            <p>建筑设计课程</p>
                            <p>这里是介绍建筑设计课程</p>
                            <p>
                                <span>正在直播</span>
                                <span>已经开始20分钟</span>
                            </p>
                            <p>
                                <span><img src="../index-img/首页推荐头像.png" alt="">King</span>
                                <span>设计</span>
                            </p>
                        </div>
                    </a>
                    <a href="../views/home.html">
                        <img src="../index-img/首页直播1-2.png" alt="">
                        <div class="live-right">
                            <p>建筑设计课程</p>
                            <p>这里是介绍建筑设计课程</p>
                            <p>
                                今天12:00开始
                            </p>
                            <p>
                                <span><img src="../index-img/首页推荐头像.png" alt="">King</span>
                                <span>设计</span>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="live-bom">
                    <a href="../views/home.html">
                        <img src="../index-img/首页直播2-1.png" alt="">
                        <div class="live-rig">
                            <p>建筑设计课程</p>
                            <p>这里是介绍建筑设计课程</p>
                            <p>
                                今天12:00开始
                            </p>
                            <p>
                                <span><img src="../index-img/首页推荐头像.png" alt="">King</span>
                                <span>设计</span>
                            </p>
                        </div>
                    </a>
                    <a href="../views/home.html">
                        <img src="../index-img/首页直播2-1.png" alt="">
                        <div class="live-rig">
                            <p>建筑设计课程</p>
                            <p>这里是介绍建筑设计课程</p>
                            <p>
                                今天12:00开始
                            </p>
                            <p>
                                <span><img src="../index-img/首页推荐头像.png" alt="">King</span>
                                <span>设计</span>
                            </p>
                        </div>
                    </a>
                    <a href="../views/home.html">
                        <img src="../index-img/首页直播2-1.png" alt="">
                        <div class="live-rig">
                            <p>建筑设计课程</p>
                            <p>这里是介绍建筑设计课程</p>
                            <p>
                                今天12:00开始
                            </p>
                            <p>
                                <span><img src="../index-img/首页推荐头像.png" alt="">King</span>
                                <span>设计</span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="cooper">
                合作院校
            </div>
            <div class="school">
                <div>
                    <img src="../index-img/首页院校1.png" alt="">
                    <p>院校名称</p>
                </div>
                <div>
                    <img src="../index-img/首页院校1.png" alt="">
                    <p>院校名称</p>
                </div>
                <div>
                    <img src="../index-img/首页院校1.png" alt="">
                    <p>院校名称</p>
                </div>
                <div>
                    <img src="../index-img/首页院校1.png" alt="">
                    <p>院校名称</p>
                </div>
                <div>
                    <img src="../index-img/首页院校1.png" alt="">
                    <p>院校名称</p>
                </div>
                <div>
                    <img src="../index-img/首页院校1.png" alt="">
                    <p>院校名称</p>
                </div>
                <div>
                    <img src="../index-img/首页院校1.png" alt="">
                    <p>院校名称</p>
                </div>
            </div>
            
        </div>
       
    </main>
    <footer>
        <div class="content foot">
            <div class=" foot-box">
                <div class="foot-left">
                    <div>
                        <a href="../views/about.html"><span>关于我们</span></a>
                        <span>资格证书</span>
                        <span>联系我们</span>
                        <span>帮助</span>
                    </div>
                    <div>
                        <span>公司地址</span>
                        <span>联系电话</span>
                    </div>
                </div>
                <div class="foot-right">
                    <span>在线学习平台</span>
                    <img src="../index-img/首页二维码.png" alt="">
                </div>
            </div>
            <p>某某公司版权所有</p>
        </div>
    </footer>
</body>

</html>