<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>考试练习</title>
    <link rel="stylesheet" href="../css/myexe.css">
</head>

<body>
    <nav>
        <div class="content nav">
            <div class="nav-left">
                <div class="nav-logo">
                    <img src="../index-img/首页logoABC.svg" alt="">
                    <span>在线学习平台</span>
                </div>
                <a href="../views/mysubject.html">
                    <p>
                        <span>我的课程</span>
                    </p>
                </a>
                <a href="../views/myrecord.html">
                    <p>
                        购买记录
                    </p>

                </a>

                <a href="">
                    <p>设置</p>
                </a>

            </div>
            <div class="nav-right">
                <div class="bell">
                    <img src="../index-img/铃.svg" alt="">
                </div>
                <div class="wel">
                    <span>欢迎您，米莱</span>
                    <img src="../index-img/导航头像.png" alt="">
                </div>
            </div>
        </div>
    </nav>
    <header>
        <div class="head-box">
            <div class="content head">
                <div class="hed-box">
                    <div class="head-left">
                        <a href="">
                            <img src="../index-img/课程头像.png" alt="">
                        </a>
                        <div>
                            <p>米莱</p>
                            <p>中国某某大学</p>
                        </div>
                    </div>
                    <div class="head-right">
                        <div class="head-one">
                            <div>我的课程</div>
                            <div>5</div>
                        </div>
                        <div class="head-two">
                            <div>正在学习</div>
                            <div>2</div>
                        </div>
                        <div class="head-thr">
                            <div>我的关注</div>
                            <div>8</div>
                        </div>
                        <div class="head-for">
                            <div>平均等级</div>
                            <div>B</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="content">
            <div class="topic">
                <div class="topic-left">
                    <ul>
                        <li>
                            <a href="../views/mysubject.html">
                                我的课程
                            </a>
                        </li>
                        <li>
                            <a href="../views/mycollect.html">
                                我的收藏
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>考试练习</span>
                            </a>
                            <img src="../index-img/滑动条1_u1351.png" alt="">
                        </li>
                    </ul>
                </div>
                <div class="chapter">
                    <div class="chap-tit">
                        <a href="#">章节练习</a>
                        <a href="">期末测试</a>
                        <a href="">课内讨论</a>
                    </div>
                    <ul class="chap-seat">
                        <li>
                            <div class="seat-left">
                                <img src="../index-img/练习图.png" alt="">
                                <div>未开始</div>
                            </div>
                            <div class="seat-right">
                                <div class="seat-one">
                                    <span>建筑设计课程</span>
                                    <span>共12周</span>
                                </div>
                                <div class="seat-two">
                                    <div>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>King</span>
                                    </div>
                                    <div>
                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                    </div>
                                    <div>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </div>
                                </div>
                                <div>
                                    <img src="../index-img/练习线.png" alt="">
                                </div>
                                <div class="seat-for">
                                    <div>还未开始练习</div>
                                    <div>
                                        <a href="../views/mychapter.html">
                                            <input type="button" value="开始练习">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="seat-left">
                                <img src="../index-img/练习图.png" alt="">
                                <div>进行中</div>
                            </div>
                            <div class="seat-right">
                                <div class="seat-one">
                                    <span>建筑设计课程</span>
                                    <span>共12周</span>
                                </div>
                                <div class="seat-two">
                                    <div>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>King</span>
                                    </div>
                                    <div>
                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                    </div>
                                    <div>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </div>
                                </div>
                                <div>
                                    <img src="../index-img/练习线.png" alt="">
                                </div>
                                <div class="seat-for">
                                    <div>已完成9章练习, 还剩<span>3章</span>
                                    </div>
                                    <div class="seat-bet">
                                        <div></div>
                                    </div>
                                    <div>
                                        <a href="../views/mychapter.html">
                                            <input type="button" value="继续练习">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="seat-left">
                                <img src="../index-img/练习图.png" alt="">
                                <div>已结束</div>
                            </div>
                            <div class="seat-right">
                                <div class="seat-one">
                                    <span>建筑设计课程</span>
                                    <span>共12周</span>
                                </div>
                                <div class="seat-two">
                                    <div>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>King</span>
                                    </div>
                                    <div>
                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                    </div>
                                    <div>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </div>
                                </div>
                                <div>
                                    <img src="../index-img/练习线.png" alt="">
                                </div>
                                <div class="seat-for">
                                    <div>已完成练习</div>
                                    <div class="seat-ween"></div>
                                    <div>
                                        成绩：89分
                                    </div>
                                    <div class="seat-bom">
                                        <a href="">
                                            <input type="button" value="查看详情">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="content foot">
            <div class=" foot-box">
                <div class="foot-left">
                    <div>
                        <a href="../views/about.html"><span>关于我们</span></a>
                        <span>资格证书</span>
                        <span>联系我们</span>
                        <span>帮助</span>
                    </div>
                    <div>
                        <span>公司地址</span>
                        <span>联系电话</span>
                    </div>
                </div>
                <div class="foot-right">
                    <span>在线学习平台</span>
                    <img src="../index-img/首页二维码.png" alt="">
                </div>
            </div>
            <p>某某公司版权所有</p>
        </div>
    </footer>
</body>

</html>