<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购买记录</title>
    <link rel="stylesheet" href="../css/myrecord.css">
</head>
<body>
    <nav>
        <div class="content nav">
            <div class="nav-left">
                <div class="nav-logo">
                    <img src="../index-img/首页logoABC.svg" alt="">
                    <span>在线学习平台</span>
                </div>
                <a href="../views/mysubject.html">
                    <p>
                        我的课程
                    </p>
                </a>
                <a href="#">
                    <p>
                        <span>购买记录</span>
                    </p>

                </a>

                <a href="">
                    <p>设置</p>
                </a>

            </div>
            <div class="nav-right">
                <div class="bell">
                    <img src="../index-img/铃.svg" alt="">
                </div>
                <div class="wel">
                    <span>欢迎您，米莱</span>
                    <img src="../index-img/导航头像.png" alt="">
                </div>
            </div>
        </div>
    </nav>
    <header>
        <div class="head-box">
            <div class="content head">
                <div class="hed-box">
                    <div class="head-left">
                        <a href="">
                            <img src="../index-img/课程头像.png" alt="">
                        </a>
                        <div>
                            <p>米莱</p>
                            <p>中国某某大学</p>
                        </div>
                    </div>
                    <div class="head-right">
                        <div class="head-one">
                            <div>我的订单</div>
                            <div>2</div>
                        </div>
                        <div class="head-two">
                            <div>支出</div>
                            <div>-200元</div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="content">
            <div class="topic">
                <div class="topic-left">
                    <ul>
                        <li>
                            <a href="#">
                                <span>购买记录</span>
                            </a>
                            <img src="../index-img/滑动条1_u1351.png" alt="">
                        </li>
                        <li>
                            <a href="../views/myrefund.html">
                                退款订单
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="record">
                    <table>
                        <tbody>
                            <tr>
                                <th>订单信息</th>
                                <th>支付费用</th>
                                <th>支付状态</th>
                                <th>支付时间</th>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../index-img/购买记录图.png" alt="">
                                    <div>
                                        <p>平面设计概述</p>
                                        <p>共111节</p>
                                        <p>
                                            <img src="../index-img/首页推荐人民币.svg" alt="">
                                            <span>230</span>
                                        </p>
                                    </div>
                                </td>
                                <td>230元</td>
                                <td>支付成功</td>
                                <td>2020.04.12&nbsp;12：10</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../index-img/购买记录图.png" alt="">
                                    <div>
                                        <p>平面设计概述</p>
                                        <p>共111节</p>
                                        <p>
                                            <img src="../index-img/首页推荐人民币.svg" alt="">
                                            <span>230</span>
                                        </p>
                                    </div>
                                </td>
                                <td>230元</td>
                                <td>支付取消</td>
                                <td>2020.04.12&nbsp;11：56</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="content foot">
            <div class=" foot-box">
                <div class="foot-left">
                    <div>
                        <a href="../views/about.html"><span>关于我们</span></a>
                        <span>资格证书</span>
                        <span>联系我们</span>
                        <span>帮助</span>
                    </div>
                    <div>
                        <span>公司地址</span>
                        <span>联系电话</span>
                    </div>
                </div>
                <div class="foot-right">
                    <span>在线学习平台</span>
                    <img src="../index-img/首页二维码.png" alt="">
                </div>
            </div>
            <p>某某公司版权所有</p>
        </div>
    </footer>
</body>
</html>