<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的课程</title>
    <link rel="stylesheet" href="../css/mysubject.css">
</head>

<body>
    <nav>
        <div class="content nav">
            <div class="nav-left">
                <div class="nav-logo">
                    <img src="../index-img/首页logoABC.svg" alt="">
                    <span>在线学习平台</span>
                </div>
                <a href="#">
                    <p>
                        <span>我的课程</span>
                    </p>
                </a>
                <a href="../views/myrecord.html">
                    <p>
                        购买记录
                    </p>

                </a>

                <a href="">
                    <p>设置</p>
                </a>

            </div>
            <div class="nav-right">
                <div class="bell">
                    <img src="../index-img/铃.svg" alt="">
                </div>
                <div class="wel">
                    <span>欢迎您，米莱</span>
                    <img src="../index-img/导航头像.png" alt="">
                </div>
            </div>
        </div>
    </nav>
    <header>
        <div class="head-box">
            <div class="content head">
                <div class="hed-box">
                    <div class="head-left">
                        <a href="">
                            <img src="../index-img/课程头像.png" alt="">
                        </a>
                        <div>
                            <p>米莱</p>
                            <p>中国某某大学</p>
                        </div>
                    </div>
                    <div class="head-right">
                        <div class="head-one">
                            <div>我的课程</div>
                            <div>5</div>
                        </div>
                        <div class="head-two">
                            <div>正在学习</div>
                            <div>2</div>
                        </div>
                        <div class="head-thr">
                            <div>我的关注</div>
                            <div>8</div>
                        </div>
                        <div class="head-for">
                            <div>平均等级</div>
                            <div>B</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="content">
            <div class="topic">
                <div class="topic-left">
                    <ul>
                        <li>
                            <a href="#">
                                <span>我的课程</span>
                            </a>
                            <img src="../index-img/滑动条1_u1351.png" alt="">
                        </li>
                        <li>
                            <a href="../views/mycollect.html">
                                我的收藏
                            </a>
                        </li>
                        <li>
                            <a href="../views/myexe.html">
                                考试练习
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="topic-right">
                    <div class="sort">
                        <a href="">全部</a>
                        <a href="">即将开始</a>
                        <a href="">进行中</a>
                        <a href="">已结束</a>
                    </div>
                    <p>共43个课程</p>
                    <div class="start">即将开始</div>
                    <ul class="begin">
                        <li>
                            <div>
                               <a href="../views/mydetails.html"><img src="../index-img/课程图2.png" alt=""></a> 
                            </div>
                            <div class="beg-bom">
                                <div class="begin-one">
                                    <p>平面设计概述</p>
                                    <span>共12周</span>
                                </div>
                                <div class="begin-two">
                                    <div>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>King</span>
                                    </div>
                                    <div>
                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                    </div>
                                    <div>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </div>
                                </div>
                                <div>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                </div>
                                <div class="begin-last">
                                    <div>
                                        <span>距开始还有</span>
                                        <span>3天</span>
                                    </div>
                                    <div>
                                        <a href="#cancel">
                                            <input type="button" value="取消课程">
                                        </a>
                                        <div id="cancel" class="cancel">
                                            <div class="can-box">
                                                <div class="can-top">
                                                    <span>取消课程</span>
                                                    <a href="#">
                                                        <img src="../index-img/close.png" alt="">
                                                    </a>
                                                    
                                                </div>
                                                <div class="can-bet">确定要取消课程学习吗？</div>
                                                <div class="can-bom">
                                                    <a href="#"><input type="text" value="取消"></a>
                                                    <a href="#"><input type="text" value="确定"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                               <a href="../views/mydetails.html"><img src="../index-img/课程图2.png" alt=""></a> 
                            </div>
                            <div class="beg-bom">
                                <div class="begin-one">
                                    <p>平面设计概述</p>
                                    <span>共12周</span>
                                </div>
                                <div class="begin-two">
                                    <div>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>King</span>
                                    </div>
                                    <div>
                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                    </div>
                                    <div>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </div>
                                </div>
                                <div>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                </div>
                                <div class="begin-last">
                                    <div>
                                        <span>距开始还有</span>
                                        <span>3天</span>
                                    </div>
                                    <div>
                                        <a href="#can">
                                            <input type="button" value="取消课程">
                                        </a>
                                        <div id="can" class="cancel">
                                            <div class="can-box">
                                                <div class="can-top">
                                                    <span>取消课程</span>
                                                    <a href="#">
                                                        <img src="../index-img/close.png" alt="">
                                                    </a>
                                                    
                                                </div>
                                                <div class="can-bet">确定要取消课程学习吗？</div>
                                                <div class="can-bom">
                                                    <a href="#"><input type="text" value="取消"></a>
                                                    <a href="#"><input type="text" value="确定"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="start">进行中</div>
                    <ul class="begin">
                        <li>
                            <div>
                                <img src="../index-img/课程图2.png" alt="">
                            </div>
                            <div class="beg-bom">
                                <div class="begin-one">
                                    <p>平面设计概述</p>
                                    <span>共12周</span>
                                </div>
                                <div class="begin-two">
                                    <div>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>King</span>
                                    </div>
                                    <div>
                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                    </div>
                                    <div>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </div>
                                </div>
                                <div>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                </div>
                                <div class="begin-last">
                                    <div>
                                        <span>学习到：</span>
                                        <span class="thr">2.1 建筑设计历史</span>
                                    </div>
                                    <div class="beg-but">
                                        <a href="../views/free.html">
                                            <input type="button" value="继续学习">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="start">已结束</div>
                    <ul class="begin">
                        <li>
                            <div>
                                <img src="../index-img/课程图2.png" alt="">
                            </div>
                            <div class="beg-bom">
                                <div class="begin-one">
                                    <p>平面设计概述</p>
                                    <span>共12周</span>
                                </div>
                                <div class="begin-two">
                                    <div>
                                        <img src="../index-img/首页推荐头像.png" alt="">
                                        <span>King</span>
                                    </div>
                                    <div>
                                        <img src="../index-img/首页推荐眼睛.svg" alt="">
                                        <span>5645</span>
                                    </div>
                                    <div>
                                        <img src="../index-img/首页推荐赞.svg" alt="">
                                        <span>456</span>
                                    </div>
                                </div>
                                <div>
                                    <img src="../index-img/首页推荐线.png" alt="">
                                </div>
                                <div class="begin-last">
                                    <div class="las">
                                        <span>已结束</span>
                                        <span class="result">成绩：89分</span>
                                    </div>
                                    <div class="beg-button">
                                        <a href="#check">
                                            <input type="button" value="查看">
                                        </a>
                                        <div class="check" id="check">
                                            <div class="check-box">
                                                <div class="check-top">
                                                    <span>查看成绩</span>
                                                    <a href="#">
                                                        <img src="../index-img/close.png" alt="">
                                                    </a>
                                                </div>
                                                <div class="check-bom">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>总分（100分）</td>
                                                                <td>课件浏览（30%）</td>
                                                                <td>章节练习（35%）</td>
                                                                <td>期末在线测试（30%）</td>
                                                                <td>课内讨论（5%）</td>
                                                            </tr>
                                                            <tr>
                                                                <td>78分</td>
                                                                <td>59分</td>
                                                                <td>89分</td>
                                                                <td>86分</td>
                                                                <td>9分</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p>成绩计算公式：总分=（课件浏览）*30%+（章节练习）*35%+（期末在线测试）*30%+（课内讨论）*5%</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="content foot">
            <div class=" foot-box">
                <div class="foot-left">
                    <div>
                        <a href="../views/about.html"><span>关于我们</span></a>
                        <span>资格证书</span>
                        <span>联系我们</span>
                        <span>帮助</span>
                    </div>
                    <div>
                        <span>公司地址</span>
                        <span>联系电话</span>
                    </div>
                </div>
                <div class="foot-right">
                    <span>在线学习平台</span>
                    <img src="../index-img/首页二维码.png" alt="">
                </div>
            </div>
            <p>某某公司版权所有</p>
        </div>
    </footer>
</body>

</html>