<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>隐私政策</title>
    <link rel="stylesheet" href="../css/policy.css">
</head>
<body>
    <nav>
        <div class="content nav">
            <div class="nav-left">
                <div class="nav-logo">
                    <img src="../index-img/首页logoABC.svg" alt="">
                    <span>在线学习平台</span>
                </div>
                <a href="../views/index.html">
                    <p>
                        <span>首页</span>
                    </p>
                </a>
                <a href="./coursecamp.html">
                    <p>
                        课程集中营
                    </p>

                </a>
                <div class="focus">
                    <div class="focus-left">
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>课程分类</span>
                        </a>
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>院校分类</span>
                        </a>
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>学科分类</span>
                        </a>
                    </div>
                    <div class="focus-right">
                        <dl>
                            <dt>设计</dt>
                            <dd>插画设计</dd>
                            <dd>网页设计</dd>
                            <dd>工业设计</dd>
                            <dd>UI/UX</dd>
                        </dl>
                        <dl>
                            <dt>电脑办公</dt>
                            <dd>excle</dd>
                            <dd>PPT</dd>
                            <dd>office</dd>
                        </dl>
                        <dl>
                            <dt>影视动画</dt>
                            <dd>Flash</dd>
                            <dd>视频剪辑</dd>
                            <dd>3D渲染</dd>
                        </dl>
                    </div>
                </div>
                <a href="../views/recruit .html">
                    <p>
                        最新招聘
                    </p>
                </a>

            </div>
            <div class="nav-right">
                <div class="nav-search">
                    <input type="text" placeholder="请输入">
                    <span class="iconfont icon-sousuo"></span>
                </div>
                <div class="nav-tea">
                    <a href="./loginte.html">我是老师</a>
                </div>
                <div class="nav-tea">
                    <a href="./login.html">我是学生</a>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="content">
            <div class="concern">
                <div class="conc-left">
                    <ul>
                        <li>
                            <a href="../views/about.html">
                                关于我们
                            </a>
                            
                        </li>
                        <li>
                            <a href="../views/contact.html">
                                联系我们
                            </a>
                            
                        </li>
                        <li>
                            <a href="../views/treaty.html">
                                用户协议
                            </a>
                            
                        </li>
                        <li>
                            <a href="#">
                                <span>隐私政策</span>
                                
                            </a>
                            <img src="../index-img/滑动条1_u1351.png" alt="">
                        </li>
                    </ul>
                </div>
                <div class="conc-right">
                    <div class="conc-box">
                        <div class="conc-head">隐私政策</div>
                        <p>欢迎访问在线学习平台。</p>
                        <p>在注册或使用本平台的任何页面之前（包括访问任何课程资料、讨论区或使用其他电子服务）之前，请务必审慎阅读、充分理解本用户协议（下称“本服务条款”）、隐私政策和诚信守则的内容，特别是免除或限制责任的条款，限制、免责条款可能以黑体加粗形式提示您注意。</p>
                        <p>本服务条款、隐私政策和诚信守则是您与学堂在线之间的协议（下称“本协议”）。不论您是否为注册用户，您使用本应用软件即视为您已阅读并同意接受本协议的约束。如果您不希望受本协议条款的约束，我们将无法为您提供服务。</p>
                        <p>如果您未满 18 周岁，请在法定监护人的监护、指导下阅读本协议和使用本应用。</p>
                        <p>本平台保留在不事先通知您的情况下随时修改本服务条款的权利。本服务条款的任何修改在本页面上发布后立即生效，并附更新后的生效日期。在本应用进行任何修改之后，您继续访问本应用即视为您已接受修改后的服务条款和本应用的其他全部修改。请定期访问本页面以了解本服务条款的最新版本。</p>
                        <div class="cap">网络行为准则</div>
                        <p>您同意对您使用本应用和您的用户发布内容承担责任。“用户发布内容”是指您和本应用的其他用户在本应用上提交、发布、发表和分发的所有内容，包括但不限于所有帖子、评论、视频和上传的文件。您同意您将根据本服务条款、诚信守则和所有适用的法律法规使用本应用，不得利用本应用从事违法违规行为。您同意尊重当地的社会公德、道德和风俗习惯，避免因使用本应用而使本平台卷入任何政治和公共事件。如果您的行为违反本条约定，您应当为此承担全部法律及相关行政责任，相关国家机关或机构可能会对您提起诉讼、罚款或采取其他制裁措施，并要求本平台给予协助，您对由此给本平台或他人造成损害的，您应依法予以赔偿，我们不承担任何责任。</p>
                        <p>本应用严格禁止以下内容：</p>
                        <p>
                            诽谤、骚扰或威胁他人的内容；<br>
                            讨论试图从事的非法活动的内容；<br>
                            侵犯他人知识产权及其他与知识产权有关的合法权利的内容；<br>
                            粗俗、色情、淫秽、下流、暴力和非法的内容；<br>
                            广告或者其他形式的商业宣传；<br>
                            与政治活动相关的内容；<br>
                            病毒、木马、蠕虫、数据包炸弹、篡改的文件、恶意软件、间谍软件或者其他类似的可能损害他人计算机运行或财产的内容；<br>
                            恶意虚构或者故意误导他人的内容。<br>
                            此外，您同意不抓取和批量下载本应用的内容，包括但不限于系统上的用户列表或目录、在线教材、用户发布内容或用户信息。在使用本应用时，您不得冒用或者试图冒用他人身份。
                        </p>
                        <p>生效日期 2019年10月28日</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="content foot">
            <div class=" foot-box">
                <div class="foot-left">
                    <div>
                        <a href="../views/about.html"><span>关于我们</span></a>
                        <span>资格证书</span>
                        <span>联系我们</span>
                        <span>帮助</span>
                    </div>
                    <div>
                        <span>公司地址</span>
                        <span>联系电话</span>
                    </div>
                </div>
                <div class="foot-right">
                    <span>在线学习平台</span>
                    <img src="../index-img/首页二维码.png" alt="">
                </div>
            </div>
            <p>某某公司版权所有</p>
        </div>
    </footer>
</body>
</html>