<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>最新招聘</title>
    <link rel="stylesheet" href="../css/recruit.css">
</head>
<body>
    <nav>
        <div class="content nav">
            <div class="nav-left">
                <div class="nav-logo">
                    <img src="../index-img/首页logoABC.svg" alt="">
                    <span>在线学习平台</span>
                </div>
                <a href="./index.html">
                    <p>
                        首页
                    </p>
                </a>
                <a href="./coursecamp.html">
                    <p>
                        课程集中营
                    </p>
                    
                </a>
                <div class="focus">
                    <div class="focus-left">
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>课程分类</span>
                        </a>
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>院校分类</span>
                        </a>
                        <a href="">
                            <span><img src="../index-img/导航栏标志.png" alt=""></span>
                            <span>学科分类</span>
                        </a>
                    </div>
                    <div class="focus-right">
                        <dl>
                            <dt>设计</dt>
                            <dd>插画设计</dd>
                            <dd>网页设计</dd>
                            <dd>工业设计</dd>
                            <dd>UI/UX</dd>
                        </dl>
                        <dl>
                            <dt>电脑办公</dt>
                            <dd>excle</dd>
                            <dd>PPT</dd>
                            <dd>office</dd>
                        </dl>
                        <dl>
                            <dt>影视动画</dt>
                            <dd>Flash</dd>
                            <dd>视频剪辑</dd>
                            <dd>3D渲染</dd>
                        </dl>
                    </div>
                </div>
                <a href="#">
                    <p>
                        <span>最新招聘</span>
                    </p>
                </a>

            </div>
            <div class="nav-right">
                <div class="nav-search">
                    <input type="text" placeholder="请输入">
                    <span class="iconfont icon-sousuo"></span>
                </div>
                <div class="nav-tea">
                    <a href="./loginte.html">我是老师</a>
                </div>
                <div class="nav-tea">
                    <a href="./login.html">我是学生</a>
                </div>
            </div>
        </div>
    </nav>
    <header>
        <div class="content">
            <img src="../index-img/招聘.png" alt="">
        </div>
    </header>
    <main>
        <div class="content all">
            <div class="all-box">
                <table>
                    <tbody>
                        <tr>
                            <th>岗位</th>
                            <th>地点</th>
                            <th>人数</th>
                            <th>职位要求</th>
                        </tr>
                        <tr>
                            <td>课程审核员</td>
                            <td>不限</td>
                            <td>2</td>
                            <td>每天登录系统后台，审核发布的课程</td>
                        </tr>
                        <tr>
                            <td>课程审核员</td>
                            <td>不限</td>
                            <td>2</td>
                            <td>每天登录系统后台，审核发布的课程</td>
                        </tr>
                        <tr>
                            <td>课程审核员</td>
                            <td>不限</td>
                            <td>2</td>
                            <td>每天登录系统后台，审核发布的课程</td>
                        </tr>
                    </tbody>
                </table>
                <div class="con-box">
                    <div class="tit">薪酬福利</div>
                    <p>
                        <span>月薪：1800</span>
                        <span>工作时间：8:00 - 21:00</span>
                    </p>
                    <div class="tit">招聘条件</div>
                    <p>1、在校大学生</p>
                    <p>2、成绩优秀，或者某一方面有突出表现者</p>
                    <p>3、能合理安排自己时间，不耽误学业</p>
                    <p>4、会使用简单的办公软件，如axure、excel等。</p>
                    <div class="tit">其他福利</div>
                    <div class="over">1、应聘成功者可增加2个学分</div>
                    <div class="over">2、表现突出者可额外增加1个学分</div>
                    <div class="tit">简历投递</div>
                    <div class="over">邮箱：2539121778@qq.com</div>
                    <div class="over">联系电话：0358-36238179</div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="content foot">
            <div class=" foot-box">
                <div class="foot-left">
                    <div>
                        <a href="../views/about.html"><span>关于我们</span></a>
                        <span>资格证书</span>
                        <span>联系我们</span>
                        <span>帮助</span>
                    </div>
                    <div>
                        <span>公司地址</span>
                        <span>联系电话</span>
                    </div>
                </div>
                <div class="foot-right">
                    <span>在线学习平台</span>
                    <img src="../index-img/首页二维码.png" alt="">
                </div>
            </div>
            <p>某某公司版权所有</p>
        </div>
    </footer>
</body>
</html>